@page
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@model IndexModel

@inject IStringLocalizer<IndexModel> Localizer
@inject IHtmlLocalizer<IndexModel> HtmlLocalizer

@* ViewLocalizer path is Resources.Pages.Index *@
@inject IViewLocalizer ViewLocalizer

@{
    ViewData["Title"] = @Localizer["Home page"];
}

<div class="text-center">
    <h1 class="display-4">@ViewLocalizer["Home page"]</h1>
    <p>
        @HtmlLocalizer["Learn"]
    </p>
</div>

<form method="post" asp-page="Index">
    <div class="form-group">
        <label asp-for="Superhero" class="control-label"></label>
        <input asp-for="Superhero" class="form-control"/>
        <span asp-validation-for="Superhero" class="text-danger"></span>
    </div>
    <button type="submit">@Localizer["Submit"]</button>
</form>